body {
  margin: 0;
}

.explosive{
    background: #cecece;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: 1;

    &.exploding {
        animation-name: shake;
        animation-duration: 300ms;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        height: 100%;
        width: 100%;
    }

    .explosive-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &.vertical {
        flex-direction: column;
      }
    }
}

.explosive-card {
  height: 100%;
  width: 100%;
  margin: 10px;
}

@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    15% {
      transform: translate(0, -12px);
    }
    30% {
      transform: translate(24px, 12px);
    }
    45% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(0, -12px);
    }
    75% {
      transform: translate(24px, 12px);
    }
    90% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

.tetris-explosive {
  height: 400px !important;
}
  
  .tetris {
    height: 400px;
    width: 320px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 120px;
    grid-template-rows: 120px 280px;

    .board {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .next {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .control-button {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
      display:flex;
      justify-content:center;
      align-items:flex-end;
      padding-bottom: 10px;
    }
  }